.container-canvas {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.align-end-style  {
    display: flex;
    justify-content: flex-end;
}